---
server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug

default_redirection_url: https://authelia.{{ root_domain }}
theme: dark
default_2fa_method: totp

authentication_backend:
  file:
    path: /config/users_database.yaml
    search:
      email: true
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 1024

totp:
  disable: false
  issuer: Authelia
  algorithm: sha1
  digits: 6
  period: 30
  skew: 1
  secret_size: 32

access_control:
  default_policy: one_factor
  rules:
    - domain: "jellyfin.{{ root_domain }}"
      policy: bypass

    - domain: "*.{{ root_domain }}" 
      policy: two_factor

session:
  name: authelia_session
  expiration: 3600
  inactivity: 300
  domain: {{ root_domain }}

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3

notifier:
  smtp:
    username: {{ smtp_username }}
    host: {{ smtp_host }}
    port: 587
    sender: {{ authelia_email }}
