---
# Page meta info, like heading, footer text and nav links
pageInfo:
  title: Dashboard
  description: {{ portainer_dashy.description }}

# Optional app settings and configuration
appConfig:
  theme: lissy # dashy-docs, one-dark, lissy
  defaultOpeningMethod: sametab
  hideComponents:
    hideSettings: true
    hideFooter: true
    hideHeading: true
    hideSearch: true
    hideNav: true
  preventWriteToDisk: true
  statusCheckInterval: 20
  disableConfiguration: true
  webSearch:
    searchEngine: google
    openingMethod: sametab
  customCss: >
    .context-menu{
      display:none!important
    }
    html[data-theme=lissy] .home {
      padding-bottom:0!important
    }
    .item:focus {
      outline:none!important
    }
    .show-hide-container[data-v-0dc5c42a]{
      display:none
    }
    .edit-mode-item{
      display:none
    }
    .opening-method-icon svg{
      display:none
    }
    .tooltip{
      display:none!important
    }
    .indicator[data-v-4b522b5b]{
      cursor:pointer!important
    }
    .item.size-medium .tile-title {
      height:auto
    }
    .item-icon.wrapper-medium {
      display:flex;
      align-items:center;
      padding:5px 0
    }
    .item.size-medium div img {
      margin-bottom:0
    }
    .tile-icon {
      object-fit: contain!important;
    }

sections:
  - name: Home Network
    icon: fas fa-network-wired
    displayData:
      itemCountX: 2

    items:
      - title: Proxmox VE
        icon: hl-proxmox
        url: "https://pve.{{ portainer_root_domain }}/#v1:0:=node%2Fpve:4:5::::::"
        statusCheck: true
        statusCheckUrl: https://192.168.1.100:8006
        statusCheckAllowInsecure: true

      - title: Passbolt
        icon: https://avatars.githubusercontent.com/u/4386228?s=200&v=4
        url: https://passbolt.{{ portainer_root_domain }}
        statusCheck: true
        statusCheckUrl: http://192.168.1.103:4080
        statusCheckAcceptCodes: "401"

      - title: Portfolio
        url: https://www.{{ portainer_root_domain }}/
        icon: fas fa-globe
        statusCheck: true

      - title: Grafana
        icon: hl-grafana
        url: https://grafana.{{ portainer_root_domain }}/
        statusCheck: true
        statusCheckUrl: http://192.168.1.103:3000

      - title: Pi-Hole
        icon: hl-pi-hole-unbound
        url: https://pihole.{{ portainer_root_domain }}/
        statusCheck: true
        statusCheckUrl: http://192.168.1.101:80
        statusCheckAcceptCodes: "403"

      - title: Wireguard
        icon: hl-wireguard
        url: https://wireguard.{{ portainer_root_domain }}/
        statusCheck: true
        statusCheckUrl: http://192.168.1.102:10086

      - title: Portainer
        icon: hl-portainer
        url: https://portainer.{{ portainer_root_domain }}/#!/2/docker/containers
        statusCheck: true
        statusCheckUrl: http://192.168.1.103:9000

      - title: LibrePhotos
        icon: hl-librephotos
        url: https://librephotos.{{ portainer_root_domain }}/
        statusCheck: true
        statusCheckUrl: http://192.168.1.110:80

      - title: Sonarr
        url: https://sonarr.{{ portainer_root_domain }}/
        icon: hl-sonarr
        statusCheck: true
        statusCheckUrl: http://192.168.1.107:8989

      - title: Radarr
        url: https://radarr.{{ portainer_root_domain }}/
        icon: hl-radarr
        statusCheck: true
        statusCheckUrl: http://192.168.1.107:7878

      - title: Prowlarr
        url: https://prowlarr.{{ portainer_root_domain }}/
        icon: hl-prowlarr
        statusCheck: true
        statusCheckUrl: http://192.168.1.107:9696

      - title: qBittorrent
        url: https://torrent.{{ portainer_root_domain }}/
        icon: hl-qbittorrent
        statusCheck: true
        statusCheckUrl: http://192.168.1.105:8080

      - title: Traefik
        url: http://portainer.home:8080/
        icon: hl-traefik
        statusCheck: true
        statusCheckUrl: http://192.168.1.103:8080

      - title: InfluxDB
        url: http://portainer.home:8086/
        icon: hl-influxdb
        statusCheck: true
        statusCheckUrl: http://192.168.1.103:8086

      - title: Proxmox Backup
        icon: hl-proxmox
        url: https://pve-backup.{{ portainer_root_domain }}/
        statusCheck: true
        statusCheckUrl: https://192.168.1.108:8007
        statusCheckAllowInsecure: true

      - title: FritzBox
        url: http://192.168.1.1/
        icon: hl-avmfritzbox

  - name: Personal
    icon: fas fa-tv
    displayData:
      itemCountX: 2

    items:
      - title: Google Calandar
        icon: hl-google-calendar
        url: https://calendar.google.com/

      - title: Youtube
        icon: hl-youtube
        url: https://www.youtube.com/

      - title: Netflix
        icon: hl-netflix
        url: https://www.netflix.com/browse

      - title: Jellyfin
        url: https://jellyfin.{{ root_domain }}/web/index.html#!/home.html
        icon: hl-jellyfin
        statusCheck: true
        statusCheckUrl: http://192.168.1.111:8096

      - title: Videoland
        icon: favicon
        url: https://v2.videoland.com/

      - title: Spotify
        icon: hl-spotify
        url: https://open.spotify.com/

      - title: iCloud
        icon: favicon
        url: https://www.icloud.com/

      - title: Reddit
        icon: hl-reddit
        url: https://www.reddit.com/

      - title: Linkedin
        icon: hl-linkedin
        url: {{ dashy_linkedin }}
        
      - title: IMDB
        icon: favicon
        url: https://www.imdb.com/

      - title: Rabobank
        icon: https://bankieren.rabobank.nl/online/assets/assets/icon/favicon-32.png
        url: https://bankieren.rabobank.nl/online/nl/dashboard

      - title: PayPal
        icon: hl-paypal
        url: https://www.paypal.com/myaccount/summary

      - title: Therapieland
        icon: favicon
        url: {{ therapieland }}

  - name: School
    icon: fas fa-graduation-cap
    displayData:
      itemCountX: 2

    items:
      - title: Canvas
        icon: https://www.instructure.com/sites/default/files/image/2021-12/Canvas_logo_single_mark.png
        url: https://canvas.tue.nl/

      - title: Office 365
        icon: hl-office-365
        url: https://www.office.com/

      - title: Osiris
        icon: https://www.caci.nl/wp-content/uploads/2021/03/Osiris_Pyramid_v5.png
        url: https://tue.osiris-student.nl/#/home

      - title: Osiris PlanApp
        icon: https://www.caci.nl/wp-content/uploads/2021/03/Osiris_Pyramid_v5.png
        url: https://tue.osiris-planapp.nl/#/

      - title: Video College
        url: https://videocollege.tue.nl/Mediasite/Showcase/5faaf306ddb04160a674b9709f79809f44
        icon: https://mediasite.com/wp-content/themes/base-child/assets/images/Mediasite-Logo-Mark_Color@2x.png

      - title: DeepL
        url: https://www.deepl.com/translator
        icon: https://static.deepl.com/img/logo/DeepL_Logo_darkBlue_v2.svg

      - title: Overleaf
        url: https://www.overleaf.com/project
        icon: favicon

      - title: TUe Gitlab
        url: https://gitlab.tue.nl/dashboard/projects
        icon: hl-gitlab

      - title: ANS Delft
        icon: favicon
        url: https://ans.app/

      - title: SOWISO
        icon: https://sowiso.nl/favicon.png
        url: https://tue.sowiso.nl/

      - title: Intranet
        icon: https://www.tue.nl/favicon-64.ico
        url: https://tuenl.sharepoint.com/

      - title: TU/e Databases
        icon: hl-bookstack
        url: http://library.tue.nl/AZDatabases/

      - title: 4TC00 Website
        icon: https://www.tue.nl/favicon-64.ico
        url: https://cstweb.wtb.tue.nl/4tc00/index.html

  - name: Development
    icon: fas fa-code
    displayData:
      itemCountX: 2

    items:
      - title: GitHub
        url: {{ dashy_github }}
        icon: hl-github-light

      - title: Gitea
        url: {{ dashy_gitea }}
        icon: hl-gitea
        statusCheck: true
        statusCheckUrl: http://192.168.1.109:3000

      - title: Cloudflare
        url: https://dash.cloudflare.com/
        icon: hl-cloudflare

      - title: Linode
        url: https://cloud.linode.com/linodes
        icon: hl-linode

      - title: Namecheap
        url: https://ap.www.namecheap.com
        icon: https://www.namecheap.com/assets/img/nc-icon/favicon.ico

      - title: ChatGPT
        url: https://chat.openai.com
        icon: hl-chatgpt

      - title: Docker.io
        url: {{ dashy_docker }}
        icon: hl-docker

      - title: npm
        url: {{ dashy_npm }}
        icon: favicon

      - title: Font Awesome
        url: https://fontawesome.com/search
        icon: hl-fontawesome

      - title: Windows Blog
        url: https://blogs.windows.com/windows-insider/
        icon: hl-windows-11
